.nav-margin {
    padding-right: 5%;
    padding-left: 5%;
    margin-bottom: 5%;
}

.textsm {
    font-weight: 600;
    font-size: 1.2em;
    margin-right: 15px;
}



.widthadd {
    width: 40%;
    height: 50px;
    
}