*{
    margin: 0;
    padding: 0;
}

nav{
    width: 100%;
    height: 100px;
    background-color: #FFF6DC;
    display: flex;
    margin-bottom: 2%;
}

.nav_box {
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 10%;
    
}

.my_shop {
    font-size: 1.5rem;
    font-weight: bold;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 1%;
    cursor: pointer;

}

.cart {
    cursor: pointer;
    margin-right: 10%;
    margin-top: 25px;
    display: flex;
}

.cart span:nth-child(1){
    font-size: 2rem;
    color: rgb(214, 41, 41);

}

.cart span:nth-child(2){
    padding: 0 3px;
    
    color: red;
    font-weight: bold;
    border-radius: 5px;
    position: relative;

} 

.sizer {
    height: 70px;
}

.border {
    margin-left: 10%;
    margin-right: 10%;
}


